{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "dnsName": {
            "value": "DNS_NAME"
        },
        "storageAccountName": {
            "value": "STORAGE_ACCOUNT"
        },
        "adminUsername": {
            "value": "datahub"
        },
        "sshPublicKey": {
            "value": "KEY_DATA"
        },
        "vmSize": {
            "value": "Standard_DS13_v2"
        },
        "virtualNetworkName": {
            "value": "myvnet1"
        },
        "dataDiskSize": {
            "value": 1024
        }
    }
}
