{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.7.2"
    },
    "masterProfile": {
      "count": 1,
      "dnsPrefix": "DNSPREFIX",
      "vmSize": "Standard_D4s_v3"
    },
    "agentPoolProfiles": [
      {
        "name": "pool1",
        "count": 3,
        "vmSize": "Standard_E4s_v3",
        "availabilityProfile": "AvailabilitySet"
      }
    ],
    "linuxProfile": {
      "adminUsername": "datahub",
      "ssh": {
        "publicKeys": [
          {
            "keyData": "KEY_DATA"
          }
        ]
      }
    },
    "servicePrincipalProfile": {
      "servicePrincipalClientID": "CLIENT_ID",
      "servicePrincipalClientSecret": "CLIENT_SECRET"
    }
  }
}
