{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorVersion": "1.10.6",
      "kubernetesConfig": {
        "nodeStatusUpdateFrequency": "1m",
        "ctrlMgrNodeMonitorGracePeriod": "5m",
        "ctrlMgrPodEvictionTimeout": "1m",
        "ctrlMgrRouteReconciliationPeriod": "1m",
        "cloudProviderBackoff": true,
        "cloudProviderBackoffRetries": 6,
        "cloudProviderBackoffJitter": 1,
        "cloudProviderBackoffDuration": 6,
        "cloudProviderBackoffExponent": 1.5,
        "cloudProviderRateLimit": true,
        "cloudProviderRateLimitQPS": 3,
        "cloudProviderRateLimitBucket": 10
      }
    },
    "masterProfile": {
      "count": 1,
      "dnsPrefix": "DNSPREFIX",
      "vmSize": "Standard_E2s_v3"
    },
    "agentPoolProfiles": [
      {
        "name": "pool1",
        "count": 2,
        "vmSize": "Standard_E4s_v3",
        "availabilityProfile": "AvailabilitySet"
      }
    ],
    "linuxProfile": {
      "adminUsername": "datahub",
      "ssh": {
        "publicKeys": [
          {
            "keyData": "KEY_DATA"
          }
        ]
      }
    },
    "servicePrincipalProfile": {
      "clientID": "CLIENT_ID",
      "secret": "CLIENT_SECRET"
    }
  }
}
