apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    volume.beta.kubernetes.io/storage-class: ""
  name: datahub-nfs
  namespace: jupyterhub
  resourceVersion: "14831"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  selector:
    matchLabels:
      hub: datahub
      kind: homes
      type: nfs
---
apiVersion: v1
kind: PersistentVolume
metadata:
  labels:
    hub: datahub
    kind: homes
    type: nfs
  name: datahub-nfs
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 10Gi
  nfs:
    path: /export/homes/datahub
    server: NFS_HOST_IP
  persistentVolumeReclaimPolicy: Retain
